<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>prajwal</name>
  <description>user two</description>
  <remoteFS>/home/prajwal</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.854.v7fd446b_337c9">
    <host>172.31.5.252</host>
    <port>22</port>
    <credentialsId>d7c845c4-647a-4834-a1a6-e039903cb75d</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>user_prajwal</label>
  <nodeProperties/>
</slave>