<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>server</name>
  <description>my build nd deploy</description>
  <remoteFS>/home/ubuntu</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.854.v7fd446b_337c9">
    <host>172.31.9.179</host>
    <port>22</port>
    <credentialsId>53571b6e-c228-4ea6-9391-ac6149fc8501</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>service</label>
  <nodeProperties/>
</slave>